.App {
  max-width: 400px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
}
form {
  width: 400px;
  font-size: 1.6rem;
}
map {
  padding: 20px;
  background-color: green;
}

img {
  border: 1px solid red;
  padding: 10px;
}
